@charset "utf-8";
/* CSS Document */

.dialog-panel{
	position:relative;
	border:1px solid #D5DFE5;
	border-radius: 5px;
	width:400px;
	margin-top:20px;
	padding:10px 5px 5px 5px;
}

.dialog-panel .panel-label{
	position:absolute;
	top:-0.8em;
	left:.8em;
	padding:0 3px;
}

.dialog-panel .panel-label.new-feature{
	top:-1em;
}

.dialog-panel .panel-label.right{
	right:.8em;
	left:auto;
	font-size:.9em;
}

.dialog-panel .panel-label.right a{
	color:#215B9E;
}

body,select{
	font-family:"Microsoft Yahei",Arial;
}
body{
	background:#F0F0F0;
}
.control,.view{
	/*
	border:#aaa 1px solid;
	background:#fbfbfb;
	padding: 10px;*/
	display:inline-block;
	vertical-align: top;
}
.picture,#info{
	border:#aaa 1px solid;
	padding: 10px;
	border-radius: 10px;
}
.picture{
	margin-bottom:20px;
}
.dialog-panel .panel-label,.picture{
	background-color: #fff;
}
#info{
	background-color: #D0D0FF;
}
.picture:hover,#info:hover{
	box-shadow:#FFD0D0 0 0 15px;
}
.control{
	margin-right:10px;
}
.num_4n{
	width:50px;
}
.num_10n{
	width:140px;
}
.download-picture{
	margin-left:15px;
}
.draw-canvas{
	background-color: #fff;
	/*background-image: linear-gradient(45deg, #dfdfdf 25%, transparent 27%),
	0px -8px linear-gradient(-45deg, #dfdfdf 25%, transparent 27%),
	-8px 8px linear-gradient(45deg, transparent 75%, #dfdfdf 75%),
	8px 0px linear-gradient(-45deg, transparent 75%, #dfdfdf 75%);*/
	background-image: url(transparent_bg.png);
	background-size: 16px 16px;
	margin-top: 5px;
}
#pictures{
	list-style:none;
	padding:0;
}
#copyright{
	text-align:center;
}
/*
#dpimodlist{
	list-style:none;
	padding:0px;
}
#dpimodlist li label{
	display:inline-block;
	width:100px;
}
*/
